body {
  background-color: rgb(34, 26, 2);
  font-family: Arial;
  color: white;
}

.title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: rgb(206, 220, 100);
  margin-top: 100px;
  margin-bottom: 100px;
}

.game-buttons {
  display: flex;
  justify-content: center;
  column-gap: 100px;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid rgb(206, 171, 84);
  padding: 20px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  cursor: pointer;
}

.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-score-button {
  color: rgb(20, 15, 0);
  background-color: rgb(206, 171, 84);
  border: none;
  font-weight: bold;
  font-size: 15px;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 30px;
}

.reset-score {
  display: flex;
  justify-content: center;
}

